h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 56px;
}
p {
    color: gray;
}
a {
    color: aqua;
    text-decoration: none;
}

.primer-parrafo {
    font-style: italic;
}
.segundo-parrafo {
    font-weight: bold;
}
.tercer-parrafo {
font-style: italic;
font-family: 'Arial' ;
}

.cuarto-parrafo .primer-oracion {
    font-weight: bold;
}



.cuarto-parrafo  .segunda-oracion {
    font-style: italic;
}